<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>Weducate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="assets/bootstrap.css" rel="stylesheet">
        <!-- Google web fonts -->
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel='stylesheet' />

        <!-- The main CSS file -->
        <link href="assets/style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <div class="row navbar navbar-fixed-top" id ="header">
            <a class="brand" href="index.html"><img id="brand" src = "weducate.png"/></a>
            <h5 style = "font-family : Verdana; color : #576d94">Do you know what to wear for different weathers? Try this out and see how you do!</h5>
            </div>
        <form id="main" ng-app ng-controller="myweathers">
            <div id="weathers" class="row" ng-repeat="weather in weathers">
                <div class="col-md-1" id="weather">      
                <p class="pull-right">{{weather.title}}</p>
                </div>
                <div class="col-md-1 pull-left">
                <img src = "{{weather.image}}" width="40" height="40"/>
                </div>
                <div class="col-md-9" id="objects">
                    <ul class="nav nav-pills">
                        <li ng-repeat="object in weather.objects"><button value="{{object.val}}" name="{{object.title}}" onclick="check(this.value);">
                        {{object.title}}
                        </button></li>
                    </ul>
                </div>
        </form>
        </div>
            <div id="footer" class="navbar navbar-fixed-bottom pull-left">
            Anna Tan, Jenna Choo, Sonya Anopa, Sally McNichols
            </div>
        </div>
        <script>
            function check(value) {
                if (value === "true") {
                    alert("Good Job");
                } else {
                    alert("Incorrect");
                }
            }
        </script>
        <!-- The single AngularJS include -->
        <script src="assets/angular.min.js"></script>
        <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>-->
        <script src="assets/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="assets/script.js"></script>
    </body>
</html>