@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700);

body {
	background-color: #DDFFFF;
	padding-left:50px; 
	padding-bottom: 70px;
	padding-top: 110px;
	font-family: 'Averia Sans Libre', cursive;
}

#brand {
	height: 25%;
	width: 25%;
}

#demo
{
	padding-right:50px;

}

#dog
{

	padding-right:50px;
}
/*ul li {
	font-family: Verdana; 
	font-size:23px;
	font-color:#2E2E2E;	
	font-weight: bold;
}

ul li ul li {
	font-family:  Verdana;
	font-size: 18px;
	font-color:#2E2E2E;
	font-weight: normal;
}
*/
li {
	list-style-type: none;

}

ul {list-style-type: none;

}

button{
  display: block;
  font-size : 15px;
}

#weathers
{
	font-weight:bold;
	font-size : 20px;
	margin-top: 80px;
}

#objects ul
{
	list-style-type: none;
}

#objects ul li {
	display: inline;
	padding: 20px;
}

.answers-hidden {
	visibility: hidden;
}

.answers-shows {
	visibility: visible;
	font-size: 10px;
}

#header
{
	background-color:#d3dee7;
	clear:both;
	padding-left: 50px;
}

#footer {
	height: 5%;
	padding-top:10px; 
	padding-bottom: 0px;
	padding-left: 50px;
	background-color: #d3dee7;
	clear:both;
	text-align:left;
	font-family: 'Averia Sans Libre', cursive;
	color: #48a6a6;
	border-top: 2px #fff;
}
