body {
	background-color: #DDFFFF;
	padding-left:50px; 
	padding-bottom: 30px;
	
}

head {
	
	background-color: #DDFFFF;
	padding-left:50px; 
	padding-top:30px;
}

img {
	height: 15%;
	width: 15%;
}

ul li {
	font-family: Verdana; 
	font-size:23px;
	font-color:#2E2E2E;	
	font-weight: bold;
}

ul li ul li {
	font-family:  Verdana;
	font-size: 18px;
	font-color:#2E2E2E;
	font-weight: normal;
}

li {
	list-style-type: none;

}

ul {list-style-type: none;

}

#weathers
{
	font-weight:bold;
}



#objects
{


}

#footer{
		padding-top:5px; 
		padding-bottom:5px;
		background-color:#99CCFF;
		clear:both;
		text-align:center;
		font-family:"Arial", Helvetica, sans-serif;}