body {
	background-color: #DDFFFF;
	padding-left:50px; 
	padding-bottom: 70px;
	padding-top: 100px;
}

img {
	height: 25%;
	width: 25%;
}

ul li {
	font-family: Verdana; 
	font-size:23px;
	font-color:#2E2E2E;	
	font-weight: bold;
}

ul li ul li {
	font-family:  Verdana;
	font-size: 18px;
	font-color:#2E2E2E;
	font-weight: normal;
}

li {
	list-style-type: none;

}

ul {list-style-type: none;

}

button{

  display: block;
  font-size : 15px;
}

div{

	display: inline;
}


#weathers
{
	font-weight:bold;
	font-size : 20px;
	display
}


#header
{
	background-color:#ACBFBF;
	clear:both;
	padding-left: 50px;
}

#footer {
	height: 5%;
	padding-top:10px; 
	padding-bottom: 0px;
	padding-left: 50px;
	background-color:#ACBFBF;
	clear:both;
	text-align:left;
	font-family:Verdana; 
	color: #ffffff;
}
